1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [ ]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page", verify = False)
page_data=bs(page.content)
header = page_data.find('h2', class_='mp-h2').text
j=0
for i in page_data.find_all('h2', class_='mp-h2'):
    print(j+1, i.text)
    j=j+1
print("no of headers in main page of Wikipedia is ", j)

SSLError: HTTPSConnectionPool(host='en.wikipedia.org', port=443): Max retries exceeded with url: /wiki/Main_Page (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1123)')))

2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [ ]:
IMDB_250=requests.get("https://www.imdb.com/chart/top/", verify = False)
IMDB_250_DATA=bs(IMDB_250.content)
Indx=[]
Mname=[]
Myear=[]
Mrating=[]

for i in IMDB_250_DATA.find_all("td", class_="titleColumn"):
    
    Indx.append(i.text.split('\n')[1].strip())
    Mname.append(i.text.split('\n')[2].strip())
    Myear.append(i.text.split('\n')[3][1:5])

for k in IMDB_250_DATA.find_all('td', class_='ratingColumn imdbRating'):
    Mrating.append(k.text.replace('\n',''))

test = pd.DataFrame({"Rank":Indx, "Movie_Name":Mname, "Rating":Mrating, "ReleaseYear":Myear})
top100=test.loc[0:99,:]
top100
print("IMDb TOP 100 Movies list",'\n',top100)

3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [ ]:
IndMovie_Data=requests.get("https://www.imdb.com/india/top-rated-indian-movies/", verify=False)
IndMovie250_Data=bs(IndMovie_Data.content)
rank=[]
movie=[]
year=[]
Rating=[]
for i in IndMovie250_Data.find_all("td", class_='titleColumn'):
    rank.append(i.text.split('\n')[1].strip().replace('.',''))
    movie.append(i.text.split('\n')[2].strip())
    year.append(i.text.split('\n')[3][1:5])

for j in IndMovie250_Data.find_all('td', class_="ratingColumn imdbRating"):
    Rating.append(j.text.replace('\n',''))
IndTop_250=pd.DataFrame({"Rank":rank,"Movie_Name":movie,"Rating":Rating,"Movie_Year":year})
print("IMDb top 100 Indian Movies",'\n',IndTop_250.loc[0:99])

4. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

    i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

    ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

    iii) Top 10 ODI bowlers along with the records of their team and rating.

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [ ]:
ICC_URL=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi", verify=False)
ICCMODI_DATA=bs(ICC_URL.content)
Rank=[]
Cname=[]
Nmatches=[]
Points=[]
Rating=[]
first_team=ICCMODI_DATA.find('tr', class_="rankings-block__banner")
D=first_team.text.replace('\n', ' ').strip().split('  ')
Rank.append(D[0])
Cname.append(D[1])
Nmatches.append(D[2].split(' ')[0])
Points.append(D[2].split(' ')[1])
Rating.append(D[-1])

for i in ICCMODI_DATA.find_all('tr', class_='table-body'):
    d=i.text.replace('\n', ' ').strip().split('  ')
    Rank.append(d[0])
    Cname.append(d[1])
    Nmatches.append(d[2].split(' ')[0])
    Points.append(d[2].split(' ')[1])
    Rating.append(d[2].split(' ')[2])
TOPODITEAMS=pd.DataFrame({"Rank":Rank,"Country":Cname,"Matches":Nmatches,"Points":Points,"Rating":Rating}).loc[:9]
print("            ICC Top 10 ODI teams in men’s cricket",'\n',TOPODITEAMS)

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [ ]:
ICC_BURL=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi", verify= False)
ICCBODI_DATA=bs(ICC_BURL.content)
pos=[]
Nplayer=[]
Team=[]
Rating=[]
batsman= ICCBODI_DATA.find('div', class_="rankings-block__top-player")
D=batsman.text.replace('\n',' ').replace('     ','').split('  ')
pos.append(D[0])
Nplayer.append(D[1])
Team.append(D[2])
Rating.append(D[-1])
for i in ICCBODI_DATA.find_all('tr', class_="table-body"):
    d=i.text.strip().replace('\n',' ').replace('     ','').split('   ')
    pos.append(d[0].split(' ', maxsplit=1)[0])
    Nplayer.append(d[0].split(' ', maxsplit=1)[1])
    Team.append(d[1].strip().split(' ')[0])
    Rating.append(d[1].split(' ')[-1])
players=pd.DataFrame({"Rank":pos,"Player_Name":Nplayer,"Team":Team,"Rating":Rating}).loc[:9]
print("          Top 10 ODI Batsmen in men",'\n',players)

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
bowler_url=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling', verify=False)
Bowler_DATA=bs(bowler_url.content)
rank=[]
name=[]
team=[]
rating=[]
bowler1=Bowler_DATA.find('tr',class_="rankings-block__banner")
D=bowler1.text.replace('\n',' ').strip().split('        ')[0:5]
rank.append(D[0])
name.append(D[1].split('    ')[0])
team.append(D[1].split('    ')[1])
rating.append(D[-1])
for i in Bowler_DATA.find_all('tr',class_='table-body'):
    t=i.text.replace('\n',' ').strip().split('        ')[0:3]
    rank.append(t[0])
    name.append(t[1].strip().split('  ')[0])
    team.append(t[1].strip().split('  ')[-2:-1])
    rating.append(t[1].strip().split('  ')[-1])
N=Bowler_DATA.find_all('tr',class_='table-body')

BOWLER_RANKING=pd.DataFrame({"Rank":rank,"Name":name,"Team":team,"Rating":rating}).loc[:9]
print("        ICC Top 10 ODI bowlers",'\n',BOWLER_RANKING)

    5.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
        i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
        ii) Top 10 women’s ODI players along with the records of their team and rating.
        iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [ ]:
WODI_URL=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi", verify=False)
WODI_DATA=bs(WODI_URL.content)
rank=[]
country=[]
matches=[]
points=[]
rating=[]
stw=WODI_DATA.find('tr', class_="rankings-block__banner")
a=stw.text.replace('\n',' ').strip().split('          ')
rank.append(a[0].split("  ")[0])
country.append(a[0].split('  ')[1])
matches.append(a[0].split(' ')[-2])
points.append(a[0].split(' ')[-1])
rating.append(a[-1])
a=WODI_DATA.find_all('tr', class_="table-body")
for i in a:
    rank.append(i.text.replace('\n',' ').strip().split('  ')[0])
    country.append(i.text.replace('\n',' ').strip().split('  ')[1])
    matches.append(i.text.replace('\n',' ').strip().split('  ')[2].split()[0])
    points.append(i.text.replace('\n',' ').strip().split('  ')[2].split()[1])
    rating.append(i.text.replace('\n',' ').strip().split('  ')[2].split()[-1])
W=pd.DataFrame({'Rank':rank,'Team':country,'Matches':matches,'Points':points,'Rating':rating})
print("Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.",'\n',W)

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:
ICC_BURL=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi", verify= False)
ICCBODI_DATA=bs(ICC_BURL.content)
pos=[]
Nplayer=[]
Team=[]
Rating=[]
batsman= ICCBODI_DATA.find('div', class_="rankings-block__top-player")
D=batsman.text.replace('\n',' ').replace('     ','').split('  ')
pos.append(D[0])
Nplayer.append(D[1])
Team.append(D[2])
Rating.append(D[-1])
for i in ICCBODI_DATA.find_all('tr', class_="table-body"):
    d=i.text.strip().replace('\n',' ').replace('     ','').split('   ')
    pos.append(d[0].split(' ', maxsplit=1)[0])
    Nplayer.append(d[0].split(' ', maxsplit=1)[1].strip())
    Team.append(d[1].strip().split(' ')[0])
    Rating.append(d[1].split(' ')[-1])
players=pd.DataFrame({"Rank":pos,"Player_Name":Nplayer,"Team Name":Team,"Rating":Rating}).loc[:9]
print("          Top 10 ODI Batsmen in women",'\n',players)

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
bowler_url=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder', verify=False)
Bowler_DATA=bs(bowler_url.content)
rank=[]
name=[]
team=[]
rating=[]
bowler1=Bowler_DATA.find('tr',class_="rankings-block__banner")
D=bowler1.text.replace('\n',' ').strip().split('        ')[0:5]
rank.append(D[0])
name.append(D[1].split('    ')[0])
team.append(D[1].split('    ')[1])
rating.append(D[-1])
for i in Bowler_DATA.find_all('tr',class_='table-body'):
    t=i.text.replace('\n',' ').strip().split('        ')[0:3]
    rank.append(t[0])
    name.append(t[1].strip().split('  ')[0])
    team.append(t[1].strip().split('  ')[-2:-1])
    rating.append(t[1].strip().split('  ')[-1])
N=Bowler_DATA.find_all('tr',class_='table-body')
ALLROUND_RANKING=pd.DataFrame({"Rank":rank,"Name":name,"Team":team,"Rating":rating}).loc[:9]
print("Top 10 women’s ODI all-rounder with the records of their team and rating.",'\n',ALLROUND_RANKING)

    6.Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

Issue:I am getting API 503 error, so I tried it on flipkart

In [ ]:
Name=[]
Price=[]
Rating=[]
Image=[]
r=range(1,11)
for u in r:
    U='https://www.flipkart.com/search?q=mobiles&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&p%5B%5D=facets.price_range.from%3DMin&p%5B%5D=facets.price_range.to%3D20000&page='+str(u)
    url=requests.get(U,verify=False)
    data=bs(url.content)
    mobile=data.find_all('div', class_='_4rR01T')
    for i in mobile:
        Name.append(i.text)
    price=data.find_all('div',class_='_30jeq3 _1_WHN1')
    for i in price:
        Price.append(i.text)
    rating=data.find_all('div',class_='_3LWZlK')
    for i in rating:
        Rating.append(i.text)
    image=data.find_all('img',class_='_396cs4 _3exPp9')
    for i in image:
        Image.append(i['src'])   
        
Data=pd.DataFrame({'Mobile Name':Name, 'Price':Price, 'Rating':Rating,'Image URL':Image})
print("Mobiles under Rs:20000 from Flipkart",'\n',Data.sort_values(by="Price", ascending=False))

7. Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price
https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44N DUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8 iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"

In [ ]:
House=[]
Location=[]
Area=[]
Emi=[]
Cost=[]
lt=['RK1','BHK1','BHK2','BHK3','BHK4','BHK4PLUS']
for j in lt:
    
    url=requests.get('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type='+j+'&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0', verify=False)
    data=bs(url.content)
    house=data.find_all('h2', class_='heading-6 font-semi-bold nb__1AShY')
    for i in house:
        House.append(i.text)
    location=data.find_all('div', class_='nb__35Ol7')
    for i in location:
        Location.append(i.text)
    area=data.find_all('div', class_='nb__3oNyC')
    for i in area:
        Area.append(i.text)
    emi=data.find_all('div',id='roomType')
    for i in emi:
        Emi.append(i.text)
    cost=data.find_all('div', id="minDeposit")
    for i in cost:
        Cost.append(i.text.replace('₹',' ').strip().split(' ')[0]+i.text.replace('₹',' ').strip().split(' ')[1])
Details=pd.DataFrame({"House Details":House,'Location':Location,'Area':Area, 'EMI Details':Emi, 'Cost':Cost})
Details

    8. Write a python program to scrape mentioned details from ‘https://www.dineout.co.in/delhi-restaurants/buffet-special’ :
        i) Restaurant name
        ii) Cuisine
        iii) Location
        iv) Ratings
        v) Image url

In [ ]:
RL=[]
R=[]
C=[]
L=[]
RA=[]
I=[]
url=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special', verify=False)
ur=bs(url.content)
re=ur.find_all('a', class_="restnt-name ellipsis")
for i in re:
    RL.append(i['href'])
RL
for i in RL:
    u='https://www.dineout.co.in/'+i
    ur1=requests.get(u, verify=False)
    re1=bs(ur1.content)
    r=re1.find('div',class_='restnt-details_info')
    R.append(r.text.split('₹')[0])
    c=re1.find('div',class_='restnt-cost')
    C.append(c.text.split('|')[-1])
    l=re1.find('div',class_='restnt-name')
    L.append(l.text.replace('|','').replace("Get Direction",'').strip())
    r=re1.find('section',class_='rdp-section restnt-details d-flex')
    RA.append(r.text[-13:])
    i=re1.find('img',class_='rdp-banner_img')
    I.append(i['src'])

final=pd.DataFrame({"Restaurant name":R,'Cuisine':C,'Location':L,'Rating':RA,"Image url":I})

In [ ]:
print(final)

       9. Write a python program to scrape weather details for last 24 hours from ‘https://en.tutiempo.net/delhi.html?data=last-24- hours’ :
            i) Hour
            ii) Temperature
            iii) Wind
            iv) Weather condition
            v) Humidity
            vi) Pressure

In [ ]:
weather_url=requests.get('https://en.tutiempo.net/delhi.html?data=last-24-hours', verify=False)
weather_data=bs(weather_url.content)
time=weather_data.find('div', class_='last24 thh')
w=time.text.replace('.Pressure','.Presssure, ').replace('hPa', 'hPa, ').split(',')[:24]
hours=[]
We=[]
Tem=[]
Wi=[]
Hum=[]
Pre=[]
for i in w:
    hours.append(i[:6])
hours
len(hours)
we=weather_data.find_all('span',class_='thhip ico i0530 u303')
for i in we:
    We.append(i.text)
tem=weather_data.find_all('td',class_='t Temp')
for i in tem:
    Tem.append(i.text)
len(Tem[:24])
wi=weather_data.find_all('td',class_='wind')
for i in wi:
    Wi.append(i.text)
hum=weather_data.find_all('td',class_='hr')
for i in hum:
    Hum.append(i.text)
pre=weather_data.find_all('td',class_='prob')
for i in pre:
    Pre.append(i.text)
H=hours
print("1.Hour",'\n',hours,'\n',"2.Temperature",'\n',Tem,'\n',"3.Wind",'\n',Wi,'\n',"4.Weather Condition",'\n',We, '\n',"5.Humidity",'\n',Hum,'\n',"6.Pressure",'\n',Pre)

10. Write a python program to scrape monument name, monument description, image url about top 10 monuments from 'https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/'

In [ ]:
url=requests.get('https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/', verify=False)
mo_data=bs(url.content)
I=[]
a=mo_data.find_all('p')
for i in a:
    I.append(i)
i=I[4:-8].copy()
name=[]
des=[]
img=[]
n=0
k=0
l=1
m=2
while n<10:
    name.append(i[k].text)
    des.append(i[l].text)
    img.append(i[m])
    n=n+1
    k=k+3
    l=l+3
    m=m+3
print("TOP 10 Monuments Names",'\n',name, '\n',"TOP 10 Monuments Description",'\n',des,'\n',"TOP 10 Monuments Image URL's",'\n',img)