In [3]:
#importing required libraries for web scraping with selenium
from selenium import webdriver
import selenium
import pandas as pd
import time

In [25]:
#Chrome web driver location provided for selenium automation works 
driver=webdriver.Chrome(r"C:/Users/pillap/Desktop/PSD BACKUP/FlipRobo Projects/chromedriver_win32/chromedriver.exe")

<ipython-input-25-0eb49b78591d>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/pillap/Desktop/PSD BACKUP/FlipRobo Projects/chromedriver_win32/chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.
Q2: Write

In [12]:
# getting into naukri web site through driver.get
driver.get('https://www.naukri.com/')
#finding the tag of search portion
search=driver.find_element_by_css_selector("input.sugInp")
#sending the keys for data analyst
search.send_keys('data analyst')
#finding the tag of location
location=driver.find_element_by_xpath("//div[@class='inpWrap']/input[@name='location']")
#providing the search key word for location through keys
location.send_keys('Bangalore')
#locating the click button tag and send the click() action on it
enter=driver.find_element_by_css_selector("button.btn")
enter.click()
#by providing the 3 sec delay to allow the website to open completely
time.sleep(3)
# creating the empty lists
Loc=[]
job=[]
Exp=[]
Com=[]
#finding the tag for Job title and store the text in job list through for loop
Job=driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div[@class='info fleft']/a[@class='title fw500 ellipsis']")
for i in Job:
    job.append(i.text)
loc=driver.find_elements_by_css_selector("ul.mt-7")
for m in loc:
    Loc.append(m.text.split('\n')[2])
    Exp.append(m.text.split('\n')[0])
com=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in com:
    Com.append(i.text)
Details=pd.DataFrame({'Job_Title':job[:10], 'Job_Location':Loc[:10], 'Company_Name':Com[:10], 'Experience':Exp[:10]})
print('Data for “Data Analyst” Job position in “Bangalore” location of details job-title, job-location, company_name, experience for the first 10 job datas')
Details

<ipython-input-12-7c07da90624b>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_css_selector("input.sugInp")
<ipython-input-12-7c07da90624b>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//div[@class='inpWrap']/input[@name='location']")
<ipython-input-12-7c07da90624b>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  enter=driver.find_element_by_css_selector("button.btn")
<ipython-input-12-7c07da90624b>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Job=driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div[@class='info fleft']/a[@class='title fw500 ellipsis']")
<ipython-input-12-7c07da90624b>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc=driver.find_elements_by_css_selector("ul.mt-7")
<ipython-input-12-7c07da90624b>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  com=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

Data for “Data Analyst” Job position in “Bangalore” location of details job-title, job-location, company_name, experience for the first 10 job datas

,Job_Title,Job_Location,Company_Name,Experience
0,Data Analyst - Flipkart Analytics,Bangalore/Bengaluru(Bellandur),Flipkart,0-3 Yrs
1,Urgent Openings For Data Analyst / Business An...,Bangalore/Bengaluru,Flipkart,1-6 Yrs
2,Business Data Analyst(BigId) - Capco - Bangalore,Bangalore/Bengaluru,Capco Technologies Pvt Ltd,3-8 Yrs
3,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
4,Opportunity For Business Data Analyst,"Bangalore/Bengaluru, Mumbai (All Areas)",Botree Software International Private Limited,3-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
6,Data Analyst,Bangalore/Bengaluru,Shell,5-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,Shell,5-10 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Pioneer Business Solutions,6-11 Yrs
9,Sr Data Analyst,Bangalore/Bengaluru,Pioneer Business Solutions,3-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [13]:
#sending requests to naukri website
driver.get('https://www.naukri.com/')
#finding the tag for search column
search=driver.find_element_by_css_selector("input.sugInp")
#sending keys to search
search.send_keys('Data Scientist')
#finding the location tag
location=driver.find_element_by_xpath("//div[@class='inpWrap']/input[@name='location']")
location.send_keys('Bangalore')
# fetching the click button tag
enter=driver.find_element_by_css_selector("button.btn")
enter.click()
time.sleep(5)
#sleep will pause the program for 5 sec to allow the website to open completly
Loc=[]
job=[]
Exp=[]
Com=[]
#finding the joib description tag 
Job=driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div[@class='info fleft']/a[@class='title fw500 ellipsis']")
for i in Job:
    job.append(i.text)
#locating the location tag
loc=driver.find_elements_by_css_selector("ul.mt-7")
for m in loc:
    Loc.append(m.text.split('\n')[2])
#finding the company name tag
com=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in com:
    Com.append(i.text)
#constructing of data frame with the scrapped data
Details=pd.DataFrame({'Job_Title':job[:10], 'Job_Location':Loc[:10], 'Company_Name':Com[:10]})
print('Data for “Data Analyst” Job position in “Bangalore” location of details job-title, job-location, company_name, experience for the first 10 job datas')
Details

<ipython-input-13-66d5caa32cfc>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_css_selector("input.sugInp")
<ipython-input-13-66d5caa32cfc>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//div[@class='inpWrap']/input[@name='location']")
<ipython-input-13-66d5caa32cfc>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  enter=driver.find_element_by_css_selector("button.btn")
<ipython-input-13-66d5caa32cfc>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Job=driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div[@class='info fleft']/a[@class='title fw500 ellipsis']")
<ipython-input-13-66d5caa32cfc>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc=driver.find_elements_by_css_selector("ul.mt-7")
<ipython-input-13-66d5caa32cfc>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  com=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

Data for “Data Analyst” Job position in “Bangalore” location of details job-title, job-location, company_name, experience for the first 10 job datas

,Job_Title,Job_Location,Company_Name
0,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru",Concentrix Daksh Services
1,Data Scientist,Bangalore/Bengaluru,Oracle India Pvt. Ltd.
2,Senior Data Scientist,Bangalore/Bengaluru(Sadashiva Nagar),Convergence Infotech Ltd
3,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED
4,Data Scientist,Bangalore/Bengaluru,Visa
5,Data Scientist,Bangalore/Bengaluru,Visa
6,Data Scientist,Bangalore/Bengaluru,Visa
7,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.
8,Senior Data Scientist / Tech Lead - SQL / Pyth...,"Pune, Chennai, Bangalore/Bengaluru",Exploro Solutions
9,Looking For Senior Data Scientist Immediate Jo...,Bangalore/Bengaluru,Mount Talent Consulting Private Limited

Q3.The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [14]:
#opening the naukri website through the chromedriver by get method
driver.get('https://www.naukri.com/')
#finding the search tag in the html
search=driver.find_element_by_css_selector("input.sugInp")
#sending required keys text to the search tag
search.send_keys('Data Scientist')
#finding the click button
enter=driver.find_element_by_css_selector("button.btn")
enter.click()
#pausing the programme for 2 sec to allow the website to open completely
time.sleep(2)
#finding the location filter for delhi
lfilter=driver.find_element_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span[@title='Delhi / NCR']")
#applying click for the delhi location 
lfilter.click()
#puasing the programme for 2 sec
time.sleep(2)
#finding the package filter for 3-6 lakhs
pfilter=driver.find_element_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span[@title='3-6 Lakhs']")
#click for the filtered package
pfilter.click()
#pausing it for 2 sec
time.sleep(2)
#defining the reuqired lists
Title=[]
Loc=[]
Com=[]
Exp=[]
# fetching the designation data tag from html
title=driver.find_elements_by_xpath("//div[@class='info fleft']/a[@class='title fw500 ellipsis']")
for i in title:
    Title.append(i.text)
#getting the location data related tag
loc=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[3]")
for i in loc:
    Loc.append(i.text)
#finding the company names data tag
com=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[@class='subTitle ellipsis fleft']")
for i in com:
    Com.append(i.text)
#getting the data from the experience tags in html
exp=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp:
    Exp.append(i.text)
#orginising the data in data frame
Details=pd.DataFrame({'Job_Title':Title,'Job_location':Loc,'Comapny_Nmae':Com,'Experience':Exp}).loc[:10]
Details

<ipython-input-14-a169620d6ab4>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_css_selector("input.sugInp")
<ipython-input-14-a169620d6ab4>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  enter=driver.find_element_by_css_selector("button.btn")
<ipython-input-14-a169620d6ab4>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  lfilter=driver.find_element_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span[@title='Delhi / NCR']")
<ipython-input-14-a169620d6ab4>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  pfilter=driver.find_element_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span[@title='3-6 Lakhs']")
<ipython-input-14-a169620d6ab4>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title=driver.find_elements_by_xpath("//div[@class='info fleft']/a[@class='title fw500 ellipsis']")
<ipython-input-14-a169620d6ab4>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[3]")
<ipython-input-14-a169620d6ab4>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  com=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[@class='subTitle ellipsis fleft']")
<ipython-input-14-a169620d6ab4>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[@class='fleft grey-text br2 placeHolderLi experience']")

,Job_Title,Job_location,Comapny_Nmae,Experience
0,Data Scientist,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Think i,0-2 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
2,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
3,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
4,Urgent Hiring || Data Scientist || Delhi,Delhi / NCR,Shriram Automall India Limited,2-7 Yrs
5,Data Scientist,"Noida, Gurgaon/Gurugram",Optum Global Solutions (India) Private Limited,2-6 Yrs
6,Data Scientist,Noida,SVK Global Solutions Private Limited,6-10 Yrs
7,Immediate requirement For Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIM...,2-7 Yrs
8,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
9,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
10,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: To scrape the data you have to go through following steps:

Go to Flipkart webpage by url : https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.
Now scrape data from this page as usual
Repeat this until you get data for 100 sunglasses. Note: That all of the above steps have to be done by coding only and not manually.

In [18]:
#opening the flipkart website by chrome driver
driver.get('https://www.flipkart.com/')
#finding the search column tag
search=driver.find_element_by_class_name("_3704LK")
#entering the SunGlasses key word
search.send_keys("sunglasses")
#finding the click buton tag
button=driver.find_element_by_css_selector("button.L0Z3Pu")
button.click()
time.sleep(2)
#defining the required empty lists
Brand=[]
Des=[]
Pri=[]
Per=[]
# while loop will fix the length of each list to 100 data each
while len(Des)<100:
    #after next page click at the bottom sleep will hold the programme 2 sec to open next page fully
    time.sleep(2)
    #brand tag
    brand=driver.find_elements_by_css_selector("div._2WkVRV")
    for i in brand:
        Brand.append(i.text)
    #product description tag
    des=driver.find_elements_by_class_name("IRpwTa")
    for i in des:
        Des.append(i.text.split(',')[0])
    #price data tag
    pri=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3']")
    for i in pri:
        Pri.append(i.text)
    #finding the percentage tag
    per=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in per:
        Per.append(i.text)
    #next page tag
    pn=driver.find_element_by_css_selector("div._2MImiq")
    n=pn.text.split()[1]
    # applying click on correct tag by using if condition to get the data from next page if len<=100
    if (int(n)!=1):
        next_page=driver.find_element_by_xpath("//div/nav/a[12]")
        next_page.click()
    else:
        next_page=driver.find_element_by_xpath("//div/nav/a[11]")
        next_page.click()
    #forming data frame with scrapped data
print("Scrapping of 100 sunglasses details from flipkart which include Brand, Product Description, Price, Offer Percentage")
Details=pd.DataFrame({"Brand":Brand,"Product Description":Des,"Price":Pri,"Offer_Percentage":Per}).loc[:99]
Details

<ipython-input-18-5938ec24bf33>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_class_name("_3704LK")
<ipython-input-18-5938ec24bf33>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button=driver.find_element_by_css_selector("button.L0Z3Pu")
<ipython-input-18-5938ec24bf33>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand=driver.find_elements_by_css_selector("div._2WkVRV")
<ipython-input-18-5938ec24bf33>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  des=driver.find_elements_by_class_name("IRpwTa")
<ipython-input-18-5938ec24bf33>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pri=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3']")
<ipython-input-18-5938ec24bf33>:28: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  if len(driver.find_element_by_class_name("_25b18c").text)!=len(driver.find_element_by_class_name("_30jeq3").text):
<ipython-input-18-5938ec24bf33>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  per=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
<ipython-input-18-5938ec24bf33>:38: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  pn=driver.find_element_by_css_selector("div._2MImiq")
<ipython-input-18-5938ec24bf33>:44: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  next_page=driver.find_element_by_xpath("//div/nav/a[11]")
<ipython-input-18-5938ec24bf33>:41: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  next_page=driver.find_element_by_xpath("//div/nav/a[12]")

Scrapping of 100 sunglasses details from flipkart which include Brand, Product Description, Price, Offer Percentage

,Brand,Product Description,Price,Offer_Percentage
0,VINCENT CHASE,UV Protection Aviator Sunglasses (53),₹999,50% off
1,VINCENT CHASE,Polarized,₹999,50% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
3,Elligator,UV Protection Round Sunglasses (54),₹264,89% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
95,ROYAL SON,UV Protection,₹711,64% off
96,Elligator,Mirrored Round Sunglasses (53),₹263,89% off
97,Elligator,UV Protection Aviator Sunglasses (55),₹294,88% off
98,NuVew,UV Protection,₹345,62% off
99,AISLIN,UV Protection Wayfarer Sunglasses (61),₹698,74% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/
p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [19]:
#sending the iphone 11 link of flipkart website to Chrome drivre
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")
#allowing it sleep for 2 sec to opne the website
time.sleep(2)
#finding of the reviews tag
allreviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
#click on it
allreviews.click()
time.sleep(1)
R=[]
RS=[]
RV=[]
# excuting the while loop will fix the no of reviews to 100 only
while len(R)<=100:
    time.sleep(2)
    
    for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):#rating tag
        R.append(i.text)
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):#review summary tag
        RS.append(i.text)
    for i in driver.find_elements_by_xpath("//div/div[@class='t-ZTKy']"):#full review tag
        RV.append(i.text.replace('\n\n',' *').replace('\n',' *'))
    #next page tag if the no of review not reached to 100
    pn=driver.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']")
    n=pn.text.split()[1]
    if (int(n)!=1):
        next_page=driver.find_element_by_xpath("//div/nav/a[12]")
        next_page.click()
    else:
        next_page=driver.find_element_by_xpath("//div/nav/a[11]")
        next_page.click()
# arranging the collected data into a data frame
Details=pd.DataFrame({"Rating":R,"Review_Summary":RS,"Full_Review":RV}).loc[:99]
print("iPHONE 11 first 100 reviews")
Details

<ipython-input-19-886271352b36>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  allreviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
<ipython-input-19-886271352b36>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
<ipython-input-19-886271352b36>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
<ipython-input-19-886271352b36>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//div/div[@class='t-ZTKy']"):
<ipython-input-19-886271352b36>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  pn=driver.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']")
<ipython-input-19-886271352b36>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  next_page=driver.find_element_by_xpath("//div/nav/a[11]")
<ipython-input-19-886271352b36>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  next_page=driver.find_element_by_xpath("//div/nav/a[12]")

iPHONE 11 first 100 reviews

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money *The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Super!,This is my first ever iPhone. *And I truly don...
96,5,Just wow!,The ultimate performance *Camera is superb *Th...
97,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
98,5,Awesome,The phone is completely good *As far as camera...
99,3,Decent product,Everything u ll like it when u use this iPhone...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand
Product Description
Price
Discount

In [11]:
#sending the flipkart link to Chrome web driver to access it
driver.get('https://www.flipkart.com/')
time.sleep(2)
#locating the search tag
search=driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/div[@class='_3OO5Xc']/input[1]")
#sending the search key word into search tag
search.send_keys("sneakers")
#click button tag 
click=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
click.click()
time.sleep(2)
#defining the required lists to capture the data
B=[]
PD=[]
P=[]
di=[]
#while loop to fix the no of iterations
while len(B)<=100:
    
    a=driver.find_elements_by_css_selector("div._25b18c")
    b=driver.find_elements_by_class_name("_30jeq3")
    c=driver.find_elements_by_class_name("_3I9_wc")
    f=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[@class='_2WkVRV']")
    e=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    n=0
    m=0
    #while loop to capture the data into lists
    while n<=39:
        B.append(f[n].text)
        PD.append(e[n].text)
        P.append(b[n].text)
        if len(a[n].text)>=9:
            d=len(a[n].text)-(len(b[n].text)+len(c[n-m].text))
            di.append(a[n].text[-d:])
        else:
            m=m+1
            di.append("0% off")
        n=n+1
    #next page tag
    p=driver.find_element_by_xpath("//div[@class='_1AtVbE col-12-12']/div[1]/div[@class='_2MImiq']")
    if int(p.text.split()[1])!=1:
        driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]").click()
    else:
        driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[11]").click()
    time.sleep(2)
#data frame creation with the scrapped data
Details=pd.DataFrame({"Brand":B, "Produt_Description":PD,"Price":P,"Discount":di}).loc[:99]
print("100 sneakers ddetails ffrom FlipKart")
Details

<ipython-input-11-b49b66f0514c>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/div[@class='_3OO5Xc']/input[1]")
<ipython-input-11-b49b66f0514c>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
<ipython-input-11-b49b66f0514c>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  a=driver.find_elements_by_css_selector("div._25b18c")
<ipython-input-11-b49b66f0514c>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b=driver.find_elements_by_class_name("_30jeq3")
<ipython-input-11-b49b66f0514c>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c=driver.find_elements_by_class_name("_3I9_wc")
<ipython-input-11-b49b66f0514c>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  f=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[@class='_2WkVRV']")
<ipython-input-11-b49b66f0514c>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  e=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
<ipython-input-11-b49b66f0514c>:32: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  p=driver.find_element_by_xpath("//div[@class='_1AtVbE col-12-12']/div[1]/div[@class='_2MImiq']")
<ipython-input-11-b49b66f0514c>:36: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[11]").click()
<ipython-input-11-b49b66f0514c>:34: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]").click()

100 sneakers ddetails ffrom FlipKart

       Brand                                 Produt_Description Price Discount
0   ASTEROID  Original Luxury Branded Fashionable Men's Casu...  ₹499  75% off
1     Chevit  Perfect & Affordable Combo Pack of 02 Pairs Sn...  ₹599  66% off
2     Chevit  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹699  56% off
3   Magnolia                                   Sneakers For Men  ₹398  60% off
4    Numenzo                        411 Casual Sneakers For Men  ₹499  75% off
..       ...                                                ...   ...      ...
95     VORII  Men's Lace up Walking Shoes Running Shoes Ligh...  ₹469  53% off
96    Chevit  Chevit Latest Fashion Combo Pack of 2 Pairs Ca...  ₹699  53% off
97     BIRDE         Birde Trendy Casual Shoes Sneakers For Men  ₹299  40% off
98   ESSENCE                        New Trendy Sneakers For Men  ₹497  50% off
99   ESSENCE                            Trendy Sneakers For Men  ₹499  50% off

[100 rows x 4 columns]

Q7: Go to the link - https://www.myntra.com/shoes 
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [20]:
#sending the myntra link to web driver chrome
driver.get("https://www.myntra.com/shoes")
time.sleep(2)
#colour filter tag
a=driver.find_elements_by_xpath("//div[@class='vertical-filters-filters']/ul/li[@class='colour-listItem']")
#for loop to find the black colour shoes tag
for i in a:
    if i.text.split()[0]=='Black':
        i.click()
        break
time.sleep(1)
#defining required lists
B=[]
D=[]
P=[]
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
time.sleep(1)
#while loop to iterate for fixed numbers
while len(B)<100:
    #brand tag data capture
    b=driver.find_elements_by_xpath("//ul[@class='results-base']/li/a/div[2]/h3")
    #shoes description data capture 
    d=driver.find_elements_by_xpath("//ul[@class='results-base']/li/a/div[2]/h4[1]")
    #shoes prices tag to capture data from it
    p=driver.find_elements_by_xpath("//div[@class='product-price']")
    #using for loops to load the capture data into the lists
    for i in b:
        B.append(i.text)
    for i in d:
        D.append(i.text)
    for i in p:
        P.append(i.text.replace('Rs.','').split()[0])
    #next page tag
    nv=driver.find_element_by_class_name('results-showMoreContainer').text.split()[1]
    if int(nv)!=1:
        driver.find_element_by_xpath("//ul[@class='pagination-container']/li[13]").click()
    else:
        driver.find_element_by_xpath("//ul[@class='pagination-container']/li[12]").click()
    time.sleep(3)
#creating a dataframe with the scrapped data
Details=pd.DataFrame({"Brand":B,"Details":D,"Price":P})
Details

<ipython-input-20-0b95d4fc7878>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  a=driver.find_elements_by_xpath("//div[@class='vertical-filters-filters']/ul/li[@class='colour-listItem']")
<ipython-input-20-0b95d4fc7878>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()
<ipython-input-20-0b95d4fc7878>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  b=driver.find_elements_by_xpath("//ul[@class='results-base']/li/a/div[2]/h3")
<ipython-input-20-0b95d4fc7878>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  d=driver.find_elements_by_xpath("//ul[@class='results-base']/li/a/div[2]/h4[1]")
<ipython-input-20-0b95d4fc7878>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  p=driver.find_elements_by_xpath("//div[@class='product-price']")
<ipython-input-20-0b95d4fc7878>:25: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  nv=driver.find_element_by_class_name('results-showMoreContainer').text.split()[1]
<ipython-input-20-0b95d4fc7878>:29: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//ul[@class='pagination-container']/li[12]").click()
<ipython-input-20-0b95d4fc7878>:27: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//ul[@class='pagination-container']/li[13]").click()

           Brand                            Details  Price
0           Nike     AIR ZOOM PEGASUS Running Shoes   9995
1           Nike     LEBRON WITNESS Basketball Shoe   8295
2   Hush Puppies  Men Solid Leather Formal Slip-Ons   8099
3           Nike      Men Zoom Span 4 Running Shoes   7195
4           Nike     Air Zoom Pegasus 38 Shield Run  11495
..           ...                                ...    ...
95          Puma           Unisex Textured Sneakers   8499
96      DAVINCHI                Solid Slip On Shoes   7990
97          Puma       Unisex Mirage Sport Trainers   8499
98          Geox        Women Quilted Leather Pumps   8999
99       Saint G                 Women Heeled Boots   9500

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [24]:
#finding the reuired processors tags and store them in a list
processor=["//li[@id='p_n_feature_thirteen_browse-bin/12598162031']/span","//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span"]
PR=[]
D=[]
R=[]
# for loop to iterate with the stored processors data from processor list
for i in processor:
    #sending the amazonlink to driver
    driver.get('https://www.amazon.in/')
    #locating the search box
    search=driver.find_element_by_xpath("//form[@id='nav-search-bar-form']/div[2]/div/input[@id='twotabsearchtextbox']")
    #sending the required search words
    search.send_keys("Laptops")
    #locating the click button tag
    submit=driver.find_element_by_xpath("//div[@class='nav-right']/div")
    submit.click()
    #now capturing the data for selected processors
    driver.find_element_by_xpath(i).click()
    time.sleep(2)
    n=0
    for i in driver.find_elements_by_css_selector("span.a-price-whole"):#data from price tag
        if n!=10:
            PR.append(i.text)
        else:
            break  
        n=n+1
    # click tag to reach into the each product window
    item=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    n=0
    for i in item:
        #fixing the iterations for 10 only
        if n==10:
            break
        else:
            #click on the each laptop description to reach into the complete details in new window
            i.click()
            time.sleep(2)
            P=[]
            #capturing the windows addresses through window handles
            p=driver.window_handles
            #stores the winow address in a list
            for i in p:
                P.append(i)
            for i in P:
                #switching over the windows with switch to window key words
                driver.switch_to.window(i)
                # when the window is the required window data will be captured
                if i==P[1]:
                    #details tag data capture
                    D.append(driver.find_element_by_id("productTitle").text)
                    #reviews tag data capture
                    R.append(driver.find_element_by_id("acrCustomerReviewText").text)
                    #current window close after data capture
                    driver.close()
                    #navagiting to the main window
                    driver.switch_to.window(P[0])
                #this loop between main window and one child window will continue untill the capture of 10 items
                
        n=n+1
#showing the data in a data frame
Details=pd.DataFrame({"Title":D,"Rating":R,"Price":PR})
print("10 Details of I5, I7 processor laptops from Amazon")
Details

<ipython-input-24-ff84090a72f8>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath("//form[@id='nav-search-bar-form']/div[2]/div/input[@id='twotabsearchtextbox']")
<ipython-input-24-ff84090a72f8>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  submit=driver.find_element_by_xpath("//div[@class='nav-right']/div")
<ipython-input-24-ff84090a72f8>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath(i).click()
<ipython-input-24-ff84090a72f8>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_css_selector("span.a-price-whole"):
<ipython-input-24-ff84090a72f8>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  item=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
<ipython-input-24-ff84090a72f8>:35: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  D.append(driver.find_element_by_id("productTitle").text)
<ipython-input-24-ff84090a72f8>:36: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  R.append(driver.find_element_by_id("acrCustomerReviewText").text)

10 Details of I5, I7 processor laptops from Amazon

                                                Title       Rating     Price
0   LG Gram 14 Ultra-Light Intel Evo 11th Gen Core...   96 ratings    74,999
1   LG Gram 17 Ultra-Light Intel Evo 11th Gen Core...   33 ratings    92,127
2   Lenovo IdeaPad Slim 3 10th Gen Intel Core i5 1...  236 ratings    49,990
3   Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 1...  123 ratings    66,990
4   (Renewed) Dell Latitude (2nd Gen Core i5/4GB R...     1 rating    23,999
5   Lenovo Ideapad Gaming 3 11th Gen Intel Core i5...  108 ratings    65,990
6   Lenovo IdeaPad Slim 3 2021 11th Gen Intel Core...   39 ratings    49,990
7   ASUS VivoBook 14 (2021), Intel Core i5-1135G7 ...   22 ratings    53,990
8   Lenovo V14 Intel Core i5 11th Gen 14" (35.56cm...    3 ratings    48,990
9   Acer Aspire 5 11th Gen Core i5 14-inch (35.56 ...   43 ratings    58,113
10  LG Gram 17 Ultra-Light Intel Evo 11th Gen Core...   33 ratings  1,06,057
11  LG Gram 14 Ultralight Intel Evo 11th Gen Core ...   40 ratings    87,999
12  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...  536 ratings    84,990
13  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...     1 rating    88,490
14  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...   15 ratings    93,990
15  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...    8 ratings  1,09,990
16  Lenovo Yoga 7 11th Gen Intel Core i7 14" Full ...    4 ratings    98,719
17  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...    6 ratings  1,13,990
18  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...     1 rating    99,990
19  Microsoft Surface Laptop Studio - 14.4" Touchs...     1 rating  3,73,999

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:

First get the webpage https://www.ambitionbox.com/
Click on the Job option as shown in the image
After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
Then scrape the data for the first 10 jobs results you get on the above shown page.
Finally create a dataframe of the scraped data.

In [97]:
#sending the ambition box link to webdriver
driver.get("https://www.ambitionbox.com/")
#locating the job button
job=driver.find_element_by_xpath("//div[@class='sliding-sticky-menu ']/nav/nav/a[6]")
job.click()#click on the job button
#locating the search column tag
search=driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input[@class='input tt-input']")
#sending the required key words
search.send_keys("Data Scientist ")
#locating the click button
click=driver.find_element_by_xpath("//div[@id='jobSearchPage']/div[2]/div/div/div/div/button")
click.click()
time.sleep(2)
#location filter tag
location=driver.find_element_by_xpath("//div[@title='Location' and @class='fitler-text']")
location.click()#click on it
#locating the Nodia location tag
Noida=driver.find_element_by_xpath("//div[@class='show-flex']/div[2]/div[2]/div[1]/div[3]/div/div/div[8]/label")
Noida.click()#click on it
CN=[]
R=[]
PD=[]
#finding the reuired data tags
cn=driver.find_elements_by_xpath("//div[@class='company-info']")
r=driver.find_elements_by_xpath("//div[@class='company-info']/div[@class='rating-wrapper']")
pd=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
n=0
#while loop to fix the no of iterations
while n<10:
    
    CN.append(cn[n].text.split('\n')[0])
    R.append(r[n].text.replace('\n',',').split(',')[0])
    PD.append(pd[n].text)
    n+=1
import pandas as pd
#creating a data frame with the scrapped data
Detail=pd.DataFrame({"Company_Name":CN,"Rating":R,"Posted_Days":PD})
print("First 10 Data Scientist jobs posted in Noida Location through AmbitionBox")
Details

<ipython-input-97-bc18a9b2e179>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job=driver.find_element_by_xpath("//div[@class='sliding-sticky-menu ']/nav/nav/a[6]")
<ipython-input-97-bc18a9b2e179>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input[@class='input tt-input']")
<ipython-input-97-bc18a9b2e179>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click=driver.find_element_by_xpath("//div[@id='jobSearchPage']/div[2]/div/div/div/div/button")
<ipython-input-97-bc18a9b2e179>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//div[@title='Location' and @class='fitler-text']")
<ipython-input-97-bc18a9b2e179>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Noida=driver.find_element_by_xpath("//div[@class='show-flex']/div[2]/div[2]/div[1]/div[3]/div/div/div[8]/label")
<ipython-input-97-bc18a9b2e179>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cn=driver.find_elements_by_xpath("//div[@class='company-info']")
<ipython-input-97-bc18a9b2e179>:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  r=driver.find_elements_by_xpath("//div[@class='company-info']/div[@class='rating-wrapper']")
<ipython-input-97-bc18a9b2e179>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pd=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")

First 10 Data Scientist jobs posted in Noida Location through AmbitionBox

,Company,Salaries,Experience,Min_Salary,Avg_Salary,Max_Salary
0,Ab Inbev,based on 10 salaries,4 yrs exp,₹ 15.0L,₹ 19.4L,₹ 23.0L
1,Optum,based on 22 salaries,3-4 yrs exp,₹ 11.0L,₹ 15.1L,₹ 21.3L
2,Fractal Analytics,based on 60 salaries,2-4 yrs exp,₹ 9.0L,₹ 14.7L,₹ 20.8L
3,Tiger Analytics,based on 24 salaries,3-4 yrs exp,₹ 8.3L,₹ 13.4L,₹ 18.5L
4,UnitedHealth,based on 45 salaries,2-4 yrs exp,₹ 7.2L,₹ 13.3L,₹ 20.5L
5,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 12.7L,₹ 21.0L
6,Ganit Business Solutions,based on 12 salaries,4 yrs exp,₹ 8.5L,₹ 12.4L,₹ 15.0L
7,Deloitte,based on 45 salaries,2-4 yrs exp,₹ 6.9L,₹ 11.2L,₹ 20.5L
8,Ernst & Young,based on 26 salaries,3-4 yrs exp,₹ 6.0L,₹ 11.1L,₹ 20.0L
9,Ericsson,based on 43 salaries,3-4 yrs exp,₹ 5.0L,₹ 10.9L,₹ 21.5L

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [98]:
#sending the ambition box link to webdriver
driver.get("https://www.ambitionbox.com/")
#locating the salary button tag
salary=driver.find_element_by_xpath("//div[@class='sliding-sticky-menu ']/nav/nav/a[4]")
salary.click()#applying click on the salaries button
role=driver.find_element_by_xpath("//input[@type='searchbox' and @ id='jobProfileSearchbox']")#role tag
role.send_keys("Data Scientist")#sending the reuired text through keys
time.sleep(2)
#locating the selected role tag
roleclick=driver.find_element_by_xpath("//div[@role='presentation' and @class='tt-dataset tt-dataset-job-profile-search']/div[1]/div/div/p[@class='tt_text']")
roleclick.click()#click on it
C=[]
BS=[]
E=[]
MS=[]
AS=[]
MAXS=[]
n=0
#capturing the data from the obtained tags with for loops
cdata=driver.find_elements_by_xpath("//div[@class='company-info']")#company data tag
for i in cdata:
    #to captured the data for fixed no
    if n!=10:
        C.append(i.text.split('\n')[0])
        BS.append(i.text.split('\n')[1])
        E.append(i.text.split('\n')[-1])
    else:
        break
    n+=1
avgctc=driver.find_elements_by_xpath("//p[@class='averageCtc']")#average salary data tag
for i in avgctc:
    AS.append(i.text)
minsal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")#minimum salary tag
for i in minsal:
    MS.append(i.text)
maxsal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")#maximum salary tag
for i in maxsal:
    MAXS.append(i.text)
time.sleep(2)
import pandas as pd
#creating the data frame with the scrapped data
Details=pd.DataFrame({"Company":C,"Salaries":BS,"Experience":E,"Min_Salary":MS,"Avg_Salary":AS, "Max_Salary":MAXS})

print("10 Data Scientist job details from ambition box which includes company name, no of salaries, required experience, min salary offering, avg salary and max salary offering details as in the above data frame")
Details

<ipython-input-98-808c872e257b>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  salary=driver.find_element_by_xpath("//div[@class='sliding-sticky-menu ']/nav/nav/a[4]")
<ipython-input-98-808c872e257b>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  role=driver.find_element_by_xpath("//input[@type='searchbox' and @ id='jobProfileSearchbox']")
<ipython-input-98-808c872e257b>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  roleclick=driver.find_element_by_xpath("//div[@role='presentation' and @class='tt-dataset tt-dataset-job-profile-search']/div[1]/div/div/p[@class='tt_text']")
<ipython-input-98-808c872e257b>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cdata=driver.find_elements_by_xpath("//div[@class='company-info']")
<ipython-input-98-808c872e257b>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avgctc=driver.find_elements_by_xpath("//p[@class='averageCtc']")
<ipython-input-98-808c872e257b>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  minsal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
<ipython-input-98-808c872e257b>:31: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  maxsal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")

10 Data Scientist job details from ambition box which includes company name, no of salaries, required experience, min salary offering, avg salary and max salary offering details as in the above data frame

,Company,Salaries,Experience,Min_Salary,Avg_Salary,Max_Salary
0,Ab Inbev,based on 10 salaries,4 yrs exp,₹ 15.0L,₹ 19.4L,₹ 23.0L
1,Optum,based on 22 salaries,3-4 yrs exp,₹ 11.0L,₹ 15.1L,₹ 21.3L
2,Fractal Analytics,based on 60 salaries,2-4 yrs exp,₹ 9.0L,₹ 14.7L,₹ 20.8L
3,Tiger Analytics,based on 24 salaries,3-4 yrs exp,₹ 8.3L,₹ 13.4L,₹ 18.5L
4,UnitedHealth,based on 45 salaries,2-4 yrs exp,₹ 7.2L,₹ 13.3L,₹ 20.5L
5,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 12.7L,₹ 21.0L
6,Ganit Business Solutions,based on 12 salaries,4 yrs exp,₹ 8.5L,₹ 12.4L,₹ 15.0L
7,Deloitte,based on 45 salaries,2-4 yrs exp,₹ 6.9L,₹ 11.2L,₹ 20.5L
8,Ernst & Young,based on 26 salaries,3-4 yrs exp,₹ 6.0L,₹ 11.1L,₹ 20.0L
9,Ericsson,based on 43 salaries,3-4 yrs exp,₹ 5.0L,₹ 10.9L,₹ 21.5L